input {
  outline: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  background: #444444;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #004d7f;
}

::-webkit-scrollbar-corner {
  background: rgb(0, 0, 0);
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
